@charset "utf-8";

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset",
"lib/self-defined",
"compass/css3/flexbox",
// "lib/logo",
"lib/num",
"lib/mixins",
"lib/words",
"lib/test";
$theme-color:#ffd200;
$hover-color:#692d31;
$about-more-color:#f6bd4e;
$tuhao-chart:#d7d7d7;
$font-color:#212121;
$font: "Microsoft YaHei",
"Masaaki-Regular",
"Arial",
"黑体",
"宋体",
sans-serif,
'select';
@font-face {
    font-family: "Masaaki-Regular";
    src: url(../fonts/Masaaki-Regular.otf);
}

html {
    font-size: 10px;
    width: 100%;
    height: 100%;
}

body {
    font-family: $font;
    width: 100%;
    height: 100%;
    &.i-index-show {
        background: url(../img/index/bg.png) 0 0 repeat #2f3340;
        background-size: cover;
    }
}

.i-index,
.l-loading,
.t-test,
.r-result {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
}

.i-index,
.t-test,
.r-result {
    box-sizing: border-box;
    background-size: cover;
    display: none;
    @media(max-height: 540px) {
        padding-top: 10%;
    }
}

.i-index {
    padding-top: 20%;
}

.l-loading {
    background-color: #ededed;
}

// 设置index 路由的样式
.i-portrait {
    position: relative;
    .i-figure-frame {
        position: relative;
        width: 312px;
        height: 229px;
        display: block;
        margin: 0 auto;
        img {
            display: inline-block;
            position: absolute;
            width: 34%;
        }
        .logo-mayun {
            left: 0;
            bottom: 0;
            z-index: 3;
            transition: transform $duration ease-in-out 3*$delay;
            transform: translate(-200px, -388px);
            &.now {
                transform: translate(0, 0);
            }
        }
        .logo-liuQD {
            left: 59px;
            bottom: 53px;
            z-index: 2;
            transition: transform $duration ease-in-out 5*$delay;
            transform: translate(0, -388px);
            &.now {
                transform: translate(0, 0);
            }
        }
        .logo-liJC {
            left: 106px;
            bottom: 19px;
            z-index: 3;
            transition: transform $duration ease-in-out 6*$delay;
            transform: translate(100px, -388px);
            &.now {
                transform: translate(0, 0);
            }
        }
        .logo-Bill {
            right: 68px;
            top: 17px;
            z-index: 1;
            transition: transform $duration ease-in-out 7*$delay;
            transform: translate(0, -388px);
            &.now {
                transform: translate(0, 0);
            }
        }
        .logo-wangSC {
            bottom: 0;
            right: 13px;
            z-index: 1;
            transition: transform $duration ease-in-out 8*$delay;
            transform: translate(1000px, -388px);
            &.now {
                transform: translate(0, 0);
            }
        }
        .logo-building1 {
            left: 41px;
            top: -72px;
            z-index: 1;
            transition: transform $duration ease-in-out;
            transform: translate(-600px, -600px);
            &.now {
                transform: translate(0, 0);
            }
        }
        .logo-building2 {
            left: 65px;
            top: -36px;
            z-index: 0;
            transition: transform $duration ease-in-out $delay;
            transform: translate(500px, -1000px);
            &.now {
                transform: translate(0, 0);
            }
        }
        .logo-building3 {
            z-index: 0;
            right: 42px;
            top: -27px;
            transition: transform $duration ease-in-out 7*$delay;
            transform: translate(400px, -1000px);
            &.now {
                transform: translate(0, 0);
            }
        }
    }
    .i-words {
        position: absolute;
        z-index: 5;
        opacity: 0;
        transition: opacity .5s;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -46px;
        width: 278px;
        height: 105px;
        &.now {
            opacity: 1;
        }
        i {
            display: inline-block;
            transition: transform .5s;
        }
        .words-right,
        .words-left,
        .words-rich {
            position: absolute;
        }
        .words-right {
            left: -15px;
            bottom: 0;
            transform: translateX(-200px);
            &.now {
                transform: translateX(0);
            }
        }
        .words-rich {
            bottom: -15px;
            right: -2px;
            transform: translateX(200px);
            &.now {
                transform: translateX(0);
            }
        }
        .words-left {
            bottom: 44px;
            right: -3px;
            transform: translateX(200px);
            &.now {
                transform: translateX(0);
            }
        }
    }
}

.i-testname {
    position: relative;
    width: 211px;
    outline: none;
    height: 37px;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 100px;
    line-height: 33px;
    box-sizing: border-box;
    border: 2px solid #ead1ab;
    border-radius: 12px;
    text-align: center;
    font-size: 1.4rem;
    color: #474646;
    font-weight: bold;
    background: #efe2ce url('../img/index/test-bg.png') no-repeat;
    background-size: contain;
    @media(max-height: 540px) {
        margin-top: 66px;
    }
}

.i-confirm {
    position: relative;
    text-align: center;
    width: 179px;
    height: 50px;
    display: inline-block;
    .i-prompt {
        position: absolute;
        display: inline-block;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        content: attr(data-prompt);
        color: #D33A4C;
        top: -20px;
        font-size: 1.2rem;
    }
    .i-confirm-btn {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        left: 0;
        font-size: 0;
        cursor: pointer;
        z-index: 10;
    }
    .i-relace-bg {
        width: 100%;
        height: 100%;
    }
    .i-confirm-dec {
        position: absolute;
        z-index: 2;
        left: 16px;
        top: -10px;
        animation: r-thigh 1s ease-in-out infinite;
    }
}

//设置加载页的页面
.l-loading {
    position: relative;
}

.l-title,
.l-bar {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
}

.l-title {
    transform: translateY(-100%);
    .l-money {
        width: 30px;
        height: 30px;
        vertical-align: middle;
        animation: r-money 1s linear infinite;
    }
    .l-multi {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0 5px;
        color: #3e3838;
    }
    .l-num {
        width: 64px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        i {
            display: inline-block;
            transition: background .6s;
            width: 31px;
        }
    }
}

.l-bar {
    margin: 0 auto;
    margin-top: 10px;
    width: 200px;
    height: 20px;
    box-sizing: border-box;
    border: 4px solid #3e3838;
    border-radius: 9px;
    .l-cover {
        width: 0;
        height: 100%;
        background-color: #3e3838;
        -webkit-transition: width .5s;
        -o-transition: width .5s;
        transition: width .5s;
    }
}

.t-board {
    margin-top: 5%;
    display: inline-block;
    width: 338px;
    height: 432px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #242424;
    margin-bottom: 28px;
    @media(max-width: 320px) {
        padding: 20px 4px;
        width: 320px;
    }
    .t-header {
        position: relative;
        height: 48px;
        margin: 0 auto;
        line-height: 48px;
        font-size: 2.6rem;
        width: 92%;
        // border-top: 1px solid #fff;
        // border-bottom: 1px solid #fff;
        color: #fff;
        img {
            width: 100%;
        }
        // &::before {
        //     position: absolute;
        //     left: 50%;
        //     transform: translateX(-50%) rotateX(-36deg);
        //     height: 20px;
        //     line-height: 20px;
        //     top: -10px;
        //     display: inline-block;
        //     content: 'THE';
        //     text-align: center;
        //     font-size: 1.6rem;
        //     padding: 0 3px;
        //     color: #fff;
        //     background-color: #242424;
        // }
    }
    .t-panel {
        // position: relative;
        width: 100%;
        height: 316px;
        margin-top: 25px;
        box-sizing: border-box;
        overflow: hidden;
        padding-top: 50px;
        background-color: #f0efe9;
    }
    .t-topic {
        // position: absolute;
        height: 52px;
        width: 120%;
        vertical-align: middle;
        color: #fff;
        transform: rotateZ(-17deg) translateX(-10%);
        background-color: #242424;
        box-sizing: border-box;
        padding: 0 28px;
        .t-title {
            height: 100%;
            line-height: 52px;
            font-size: 1.4rem;
            font-weight: bold;
            color: #fff;
            float: right;
        }
        .t-portrait {
            position: absolute;
            transform: translate(10px, -25px) rotateZ(14deg);
            width: 105px;
            height: 105px;
            box-sizing: border-box;
            border: 8px solid #242424;
            background-color: #852921;
            border-radius: 52.5px;
            i {
                display: inline-block;
            }
            .logo-decor {
                position: absolute;
                top: -58px;
                right: 6px;
                transform-origin: 0px 48px;
                animation: r-dec .5s ease-in-out infinite;
            }
            i:nth-child(2) {
                width: 93px;
                height: 115px;
            }
            .t-frame {
                position: absolute;
                top: -43px;
                left: -8px;
                width: 105px;
                height: 140px;
                overflow: hidden;
                box-sizing: border-box;
                border: 8px solid transparent;
                border-bottom-left-radius: 52.5px;
                border-bottom-right-radius: 52.5px;
                img {
                    width: 104%;
                }
            }
        }
    }
    .t-content {
        width: 160px;
        height: 175px;
        float: right;
        margin: 25px 13px;
        text-align: left;
        .t-title {
            margin-left: 12px;
            font-size: 2.3rem;
            display: inline-block;
            color: #f0e932;
            padding: 2px 6px;
            background-color: #242424;
            transform: skewX(-11deg);
        }
        .t-scripts {
            font-size: 2rem;
            line-height: 2.4rem;
            text-align: left;
            color: #740b02;
            font-weight: bold;
            // font-style: italic;
            transform: skewX(-7deg);
        }
    }
    .t-money {
        float: left;
        position: relative;
        margin-top: 91px;
        width: 112px;
        i {
            display: inline-block;
        }
        .t-star1,
        .t-star2 {
            position: absolute;
        }
        $last:1s;
        $interval:.5s;
        .t-star1 {
            left: 11px;
            bottom: 14px;
            animation: t-star $last ease-in-out infinite;
        }
        .t-star2 {
            left: 31px;
            bottom: -11px;
            animation: t-star $last ease-in-out $interval infinite;
        }
    }
}

.t-again,
.t-produce,
.r-again,
.r-produce {
    position: relative;
    margin: 0 auto;
    width: 152px;
    height: 44px;
    button {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
        outline: none;
        border: 0;
    }
    img {
        display: inline-block;
        width: 100%;
    }
}

.t-transition {
    position: absolute;
    top: 50%;
    transition: height .5s;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    background-color: #242424;
    overflow: hidden;
    height: 0;
    box-sizing: border-box;
    &.now {
        height: 222px;
    }
    div {
        padding: 0 50px;
        margin-bottom: 20px;
        &::after {
            display: block;
            content: '';
            clear: both;
        }
        &:nth-child(1) {
            margin-top: 45px;
        }
    }
    $t-last:.5s;
    $t-dura:.5s;
    i {
        display: inline-block;
        opacity: 0;
        &.now {
            opacity: 1;
        }
        &.test-first {
            float: left;
            transition: opacity $t-last ease-in-out $t-dura;
        }
        &.test-second {
            float: right;
            transition: opacity $t-last ease-in-out 2*$t-dura;
        }
    }
    .t-message {
        transition: opacity $t-last ease-in-out 3*$t-dura;
        opacity: 0;
        text-align: center;
        padding: 0 6px;
        font-size: 1.05rem;
        color: #fff;
        background-color: #727070;
        &.now {
            opacity: 1;
        }
    }
}

.r-result {
    padding-top: 20%;
}

.r-show {
    position: relative;
    text-align: center;
    width: 375px;
    height: 400px;
    .r-first,
    .r-second,
    .r-third,
    .r-fourth {
        opacity: 1;
        transition: opacity .5s ease-in-out;
        &.now {
            opacity: 1;
        }
        img {
            position: absolute;
        }
    }
    p {
        position: absolute;
        z-index: 2;
        font-size: 1.2rem;
        color: #2c2631;
        font-weight: bold;
        text-align: center;
        width: 105px;
        z-index: 20;
        word-wrap: break-word;
        word-break: break-all;
        line-height: 1.1rem;
        &.r-first-text {
            left: 40px;
            top: 57px;
            transform: rotateZ(-16deg);
            span {
                position: relative;
                z-index: 2;
                display: block;
                overflow: hidden;
            }
            img {
                left: 7px;
                top: -87px;
                z-index: 0;
            }
        }
        &.r-second-text {
            right: 37px;
                top: 63px;  
            span {
                position: relative;
                z-index: 2;
                display: inline-block;
                overflow: hidden;
            }
            img {
                left: 15px;
                top: -77px;
                transform: rotateZ(8deg);
            }
        }
        &.r-third-text {
            bottom: 58px;
            left: 45px;
            transform:rotateZ(29deg);
            img {
                top: -102px;
                left: 2px;
            }
        }
        &.r-fourth-text {
            right: 73px;
            bottom: 78px;
            transform: rotateZ(11deg);
            img {
                left: 10px;
                top: -102px;
            }
            span {
                position: relative;
                z-index: 2;
            }
        }
        img {
            position: absolute;
            z-index: 1;
            height: 100px;
        }
        i.test-five-star {
            display: inline-block;
            position: absolute;
            z-index: 3;
            animation: r-star 3s linear infinite;
            &.first {
                left: -11px;
                top: 26px;
            }
            &.second {
                left: -3px;
                top: 27px;
            }
            &.third {
                left: -5px;
                top: 27px;
            }
            &.fourth {
                left: -5px;
                top: 38px;
                z-index: 1;
            }
        }
    }
    &::after {
        display: block;
        content: '';
        clear: both;
    }
   
    .r-first {
        .figure {
            position: absolute;
            width: 81px;
            left: 38px;
            top: -25px;
            transform: rotateZ(-16deg);
        }
        .r-board {
            width: 160px;
            z-index: 2;
            left: 17px;
            top: 39px;

        }
    }
    .r-second{
         .figure {
            position: absolute;
            width: 81px;
            right: 38px;
            top: -25px;
            transform: rotateZ(16deg);
        }
        .r-board {
           width: 156px;
           z-index: 2;
           right: 35px;
           top: 37px;
        }
    }
    .r-third{
         .figure {
            position: absolute;
            width:78px;
            left: 26px;
            bottom: 99px;
            transform: rotateZ(-16deg);
            z-index: 2;
        }
        .r-board {
            width: 165px;
                z-index: 2;
           left: 24px;
               bottom: 33px;
        }
    }
    .r-fourth {
        .figure {
            position: absolute;
            width:78px;
            right: 13px;
            bottom: 65px;
            transform: rotateZ(16deg);
            z-index: 3;
        }
        .r-board {
            width: 138px;
                z-index: 2;
                right: 64px;
                bottom: 53px;
        }
    }
    .r-name-frame {
        position: relative;
        top: 40%;
        text-align: center;
        &::after {
            display: block;
            content: '';
            clear: both;
        }
        i.test-tyrant {
            display: inline-block;
            backface-visibility: visible;
            animation-name: zoomInDown;
            animation-iteration-count: 1;
            animation-duration: 1s;
            vertical-align: text-top;
        }
    }
    .r-name {
       font-size: 3.33rem;
       color: #e2902a;
       display: inline-block;
       position: relative;
       z-index: 33;
       top: 15px;
       margin-left: 32px;
       font-weight: bold;
       transform: skewX(-12deg);
       background-color: #fff;
       border-radius: 3px;
    }
}

//设置copyRight
img.author {
    margin-top: 20px;
}

@keyframes r-money {
    //旋转钱币
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

$deg:4deg;
@keyframes r-thigh {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ($deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes r-dec {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(6deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes t-star {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes r-star {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes flip {
    0% {
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        animation-timing-function: ease-out;
    }
    50% {
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        animation-timing-function: ease-in;
    }
    80% {
        transform: perspective(400px) scale3d(.95, .95, .95);
        animation-timing-function: ease-in;
    }
    100% {
        transform: perspective(400px);
        animation-timing-function: ease-in;
    }
}

@keyframes zoomInDown {
    from {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.zoomInDown {
    animation-name: zoomInDown;
}
